# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Build output
dist/
build/

# Coverage
dist-ssr/
coverage/

# Misc
*.tgz
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
